/* More Info */
.more-info {
	margin-top: 140px;
}

.more-info .left-image {
	text-align: center;
}

.more-info .left-image img {
	width: 80%;
	overflow: hidden;
}

.more-info .more-info-content {
	background-color: #f7f7f7;
	border-radius: 30px;
}

.about-info .more-info-content {
	background-color: transparent;
}

.about-info .right-content {
	padding: 0px !important;
	margin-right: 30px;
}

.more-info .right-content {
	padding: 30px;
}

.more-info .right-content span {
	text-transform: uppercase;
	font-size: 15px;
	color: #666;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
}

.more-info .right-content h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 35px;
}

.more-info .right-content em {
	font-style: normal;
	color: #a4c639;
}

.more-info .right-content p {
	margin-bottom: 30px;
}

/* team */
.team {
	background-color: #f7f7f7;
	margin-top: 140px;
	margin-bottom: -140px;
	padding: 120px 0px;
}

.team-item img {
	width: 100%;
	overflow: hidden;
}

.team-item .down-content {
	background-color: #fff;
	padding: 30px;
}

.team-item .down-content h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.25px;
	margin-bottom: 10px;
}

.team-item .down-content span {
	color: #a4c639;
	font-weight: 600;
	font-size: 14px;
	display: block;
	margin-bottom: 15px;
}

.team-item .down-content p {
	margin-bottom: 20px;
}

/* Testimonials Style */
.about-testimonials {
	margin-top: 0px !important;
}

.testimonials {
	margin-top: 140px;
	background-color: #f7f7f7;
	padding: 140px 0px;
}

.testimonial-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	background-color: #fff;
	padding: 30px;
	border-radius: 30px;
	height: 500px;
}

.testimonial-item .inner-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.testimonial-item h4 {
	font-size: 19px;
	font-weight: 700;
	color: #1e1e1e;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	min-height: 35px;
}

.testimonial-item span {
	display: block;
	font-weight: 600;
	font-size: 14px;
	color: #a4c639;
	min-height: 55px;
}

.testimonial-item p {
	font-size: 14px;
	font-weight: 400;
	min-height: 235px;
	margin-bottom: 0px;
}

.testimonial-item img {
	max-width: 80px;
	border-radius: 50%;
	margin-top: 15px;
	min-height: 80px;
}

@media (max-width: 768px) {
	.team .team-item {
		margin-bottom: 30px;
	}
}

@media (max-width: 992px) {
	.more-info .left-image {
		padding-top: 50px;
	}
}