/* Contact Information */
.contact-information {
    margin-top: 140px;
    padding-bottom: 140px;
    background-color: #fff;
}

.contact-information .contact-item {
    padding: 60px 30px;
    background-color: #f7f7f7;
    text-align: center;
    border-radius: 30px;
}

.contact-information .contact-item i {
    color: #a4c639;
    font-size: 48px;
    margin-bottom: 40px;
}

.contact-information .contact-item h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
}

.contact-information .contact-item p {
    margin-bottom: 30px;
}

.contact-information .contact-item span {
    display: block;
    font-weight: 600;
    color: #a4c639;
    font-size: 15px;
    min-height: 65px;
}

/* Call Back Style */
.callback-services {
    border-top: 1px solid #eee;
    padding-top: 140px;
}

.contact-us {
    background-color: #f7f7f7;
    padding: 140px 0px;
}

.contact-us .contact-form {
    background-color: transparent !important;
    padding: 0 !important;
}

.callback-form {
    padding: 140px 0px;
    background-color: #f7f7f7;
}

.callback-form .contact-form {
    background-color: #a4c639;
    padding: 60px;
    border-radius: 30px;
    text-align: center;
}

.callback-form .contact-form input {
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
}

.callback-form .contact-form input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.callback-form .contact-form textarea {
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    display: inline-block;
    padding: 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
}

.callback-form .contact-form textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.callback-form .contact-form ::-webkit-input-placeholder {
    color: #aaa;
}

.callback-form .contact-form :-ms-input-placeholder {
    color: #aaa;
}

.callback-form .contact-form ::placeholder {
    color: #aaa;
}

.callback-form .contact-form button.border-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

.callback-form .contact-form button.border-button:hover {
    background-color: #fff;
    color: #a4c639;
}

.contact-us .contact-form button.filled-button {
    background-color: #a4c639;
    color: #fff;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

.contact-us .contact-form button.filled-button:hover {
    background-color: #fff;
    color: #a4c639;
}

.form-success {
    color: green;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.form-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 480px) {
    .contact-information .contact-item p {
        padding: 0px 20px !important;
    }
}

@media (max-width: 992px) {
    .contact-item {
        margin-bottom: 30px;
    }

    .contact-information .contact-item p {
        padding: 0px 90px;
    }
}